if object_id('dbo.CM_HYST_COST_AVG_DEL', 'U') is not null
  drop TABLE dbo.CM_HYST_COST_AVG_DEL

GO
-- ==========================================================
-- Name: TABLE CM_HYST_COST_AVG_DEL
-- Description: История удалений скользящей средней учетной цены
-- Author: star
-- Release: 06.05.2026
-- Changelog:
-- =================================================


-- DROP TABLE CM_HYST_COST_AVG_DEL
CREATE TABLE CM_HYST_COST_AVG_DEL
(
  HYST_COST_ID       INT          NOT NULL,  -- код записи (копия из истории)
  PLU_ID             VARCHAR(15)  NOT NULL,  -- артикул
  HYST_COST_DT       DATETIME     NOT NULL,  -- дата расчета цены
  HYST_COST_DOC_TYPE INT          NOT NULL,  -- тип документа, по которому рассчитывалась цена
  HYST_COST_DOC_ID   INT          NOT NULL,  -- код документа, ***
  HYST_COST_AVG      MONEY        NOT NULL,  -- цена скользящая средняя учетная 
  NEXT_COST_DT       DATETIME     NOT NULL,  -- дата следущей записи в истории цен артикула
  HYST_COST_DT_DEL   DATETIME     NOT NULL DEFAULT GETDATE(),  -- дата удаления записи из истории цены

  CONSTRAINT PK_HYST_COST_AVG_DEL PRIMARY KEY CLUSTERED 
    ( HYST_COST_ID )
)
GO
