-------------------------------------------------------------------
-- NAME   : PROCEDURE ADD_LINE_TRANSACT
-- NOTE   : Добавление строк в кешированный кассовый чек
--          Имена параметров должны соответствовать именам полей
--          в таблице LINE_TRANSACTION ( '@' + <имя_поля> )
--          для правильной обработки на клиенте в методе
--          qSpecDocUpdateRecord
-- ALTER  : 23.10.01  SERG
-- RELEASE: 25.01.02  ILYA
-- RELEASE: 09.01.05 star : полный цикл на сервере, возврат через
--                          select
-- ALTER  : 10.01.05 kaa  - расчёт упаковки
-- ALTER  : 14.01.05 star - расчёт номера
-- ALTER  : 27.04.05 kaa  - создание прототипа партии для возвратного чека
-- ALTER  : 23.09.05 kaa  - поиск ENTERPRISE_ID при создании LOT
-- ALTER  : 10.10.05 aba - добавлен управляющий параметр @DO_CALC_PRICES T_FLAG
--                         0 : используются цены на входе, 
--                         1 : используются цены сформированные в процедуре. 
-- ALTER  : 03.12.05 kaa - флаг включения/результат дисконтных акций
-- ALTER  : 14.12.05 kaa - флаг дисконтной акции возвращается в курсоре
-- ALTER  : 13.02.06 aba - расширен режим применения дисконтных акций
-- ALTER  : 26.07.06 star - перенос расчёта упаковки в UPDATE_LINE_TRANSACT
-- ALTER  : 28.09.06 kaa - расчёт суммы документа
-- ALTER  : 01.07.07 star - получение типа строки по артикулу
-- FIX    : 09.06.09 vsh  - уточнение определения @LINE_ID
-- ALTER  : 16.03.11 vsh  - запись @CNS_ID в LOT_CNS_PARENT_ID при создании новой партии
-- RELEASE: 05.02.15 star - + PLU_BURDEN
-- Alter  : 19.08.2019 Lukin - добавлена акция по парафарме. Если сумма парафармы >= 350.00 грн. 
--								Тогда даём возможность пробить скидочный купон на -50 грн. Артикул - '15469'
--								Акция действительна до 31.12.2019 23:59:59 
-- Alter  : 28.08.2019 Lukin - добавлена проверка маржи 0%
-- Alter  : 28.02.2020 Lukin - добавлена акция по парафарме. Если в чеке есть товар из групп (54-12-0 = 20% и 54-13-0 = 15%)
--								Акция действительна до 31.03.2020 23:59:59 
--------------------------------------------------------------------
ALTER PROCEDURE ADD_LINE_TRANSACT
  @DOCUM_ID                 T_DOCUMENT_ID,
  @LINE_TYPE                T_LINE_SP_TYPE  = NULL,
  @LINE_PLU_ID              T_PLU,
  @LINE_IN_OUT              T_LINE_IN_OUT,
  @LINE_QUAN                T_DOCUMENT_QUAN,
  @LINE_CNS_ID              T_CONSIGNMENT   = NULL,
  @LINE_LOC_ID              T_LOCATION_ID   = NULL,
  @LINE_DEP_ID              T_LOCATION_ID   = NULL,
  @LINE_SUBDEP_ID           T_LOCATION_ID   = NULL,
  @LINE_SECT_ID             T_LOCATION_ID   = NULL,
  @LINE_PRICE_HOME          T_COST          = NULL,
  @LINE_PRICEFULL_HOME      T_COST          = NULL,
  @LINE_PRICE_MAIN          T_COST          = NULL,
  @LINE_PRICEFULL_MAIN      T_COST          = NULL,
  @LINE_OUT_PRICE           T_COST          = NULL,
  @LINE_OUT_PRICEFULL       T_COST          = NULL,
  @LINE_OUT_DISCOUNT        T_PROCENT       = NULL,
  @LINE_PARENT_ID           T_IDENTIFIER    = NULL,
  @LINE_CHILD_NUMBER        T_LINE_NUMBER   = NULL,
  @ENTERPRISE_ID            T_ENTERPRISE_ID = NULL,
  @LINE_OUTSALE_PRICE_ID    T_IDENTIFIER    = NULL,
  @LINE_OUTSALE_PRL_COL_ID  T_IDENTIFIER    = NULL,
  @LINETRANS_IS_REGISTR     T_FLAG          = 0,
  @LINE_QUAN_RESERV         T_DOCUMENT_QUAN = 0,
  @LINE_ID                  T_IDENTIFIER    = NULL OUTPUT,
  @RESULT_IN_SELECT         int             = 0,
  @DO_CALC_PRICES           T_FLAG          = 1,
  @disc_action_mode         tinyint         = 0,        -- 0 : выкл обработку дисконтных акций
                                                       -- 1 : только контроль на совместимость акций
                                                       -- 2 : контроль, затем применение акции 
  @CALC_DOC               T_FLAG          = 0,
  @DOCUM_SUMM_HOME        T_DOCUMENT_SUMM = 0  OUTPUT,
  @DOCUM_INTAX_HOME       T_DOCUMENT_SUMM = 0  OUTPUT,
  @DOCUM_SUMM_MAIN        T_DOCUMENT_SUMM = 0  OUTPUT,
  @DOC_EXT_SUMM_D         T_DOCUMENT_SUMM = 0  OUTPUT,
  @TOTAL_DISCOUNT         T_PROCENT       = 0  OUTPUT,
  @TRANSACT_SUMDISCOUNT   T_DOCUMENT_SUMM = 0  OUTPUT

-- WITH ENCRYPTION
AS
DECLARE
  @result     int,
  @id_home       T_CURRENCY_ID,
  @id_main       T_CURRENCY_ID,
  @id_curr       T_CURRENCY_ID,
  @rate_to_main  T_CURRENCY_RATE,
  @rate_to_home  T_CURRENCY_RATE,
  @PLU_H_OR_M    int,
  @STOCK_TYPE    T_STOCK_TYPE,
  @LINE_NUMBER   T_LINE_NUMBER,
  @LINE_NAME     T_NAME_LONG,
  @LINE_UNIT     T_METRIC_ID,
  @LINE_PACK_ID  T_IDENTIFIER,
  @LINE_PACK_K   T_PACK_K,
  @LINE_PACK_INVERSE T_FLAG,
  @IS_DISTRIB    T_FLAG,
  @DOC_EXT_CURR_D T_CURRENCY_ID,
  @LINE_PRICE_H      T_COST ,
  @LINE_PRICEFULL_H  T_COST ,
  @LINE_PRICE_M      T_COST ,
  @LINE_PRICEFULL_M  T_COST ,
  @LINE_O_PRICE      T_COST ,
  @LINE_O_PRICEFULL  T_COST ,
  @LINE_O_DISCOUNT   T_PROCENT,
  @disc_action_apply int,
  @pack_quan         T_DOCUMENT_QUAN,
  @amount_parafarm money, -- сумма парафармы в чеке
  @parafarm_plu       T_PLU, -- артикул скидки
  @parafarm_line_id int, -- номер строки со скидкой в чеке
  @margin_parafarm double precision, -- процент маржинальности парафармы в чеке
  @margin_parafarm_perc double PRECISION, -- процент маржинальности парафармы. Условие проверки чека.
  @perc15 money,
  @perc20 money;
  
  
-- установка скидочного артикула  
set @parafarm_plu = '15469';
-- установка минимальной маржи в %
--set @margin_parafarm_perc = 17.00;


SET @result  =  0
SET @LINE_ID = -1
select @LINE_LOC_ID    = ISNULL(@LINE_LOC_ID, 0),    @LINE_DEP_ID  = ISNULL(@LINE_DEP_ID, 0),
       @LINE_SUBDEP_ID = ISNULL(@LINE_SUBDEP_ID, 0), @LINE_SECT_ID = ISNULL(@LINE_SECT_ID, 0)

select @IS_DISTRIB  = DOCUM_IS_DISTRIB,
       @id_main = DOCUM_MAIN_CURR,
       @id_home = DOCUM_HOME_CURR,
       @id_curr = DOC_EXT_CURR_D,
       @rate_to_main = DOC_EXT_RATE_TO_MAIN,
       @rate_to_home = DOC_EXT_RATE_TO_HOME,
       @ENTERPRISE_ID = ENTERPRISE_ID,
       @DOC_EXT_CURR_D = DOC_EXT_CURR_D
 from TRANSACT
 where DOCUM_ID = @DOCUM_ID

-- номер ------------------------------------- 
SELECT @LINE_NUMBER = MAX(LINE_NUMBER)
  FROM LINE_TRANSACTION
 WHERE DOCUM_ID = @DOCUM_ID
SET @LINE_NUMBER = ISNULL(@LINE_NUMBER, 0) + 1

-- данные по артикулу и цены
EXECUTE @result = GET_INVENTORY_PRICE_4PLU
     @LINE_PLU_ID         = @LINE_PLU_ID,
     @LINE_CNS_ID         = @LINE_CNS_ID,
     @LOC_ID              = @LINE_LOC_ID,
     @DEP_ID              = @LINE_DEP_ID,
     @SUBDEP_ID           = @LINE_SUBDEP_ID,
     @SECT_ID             = @LINE_SECT_ID,
     @CLIENT_ID           = @ENTERPRISE_ID,
     @PRICE_ID            = @LINE_OUTSALE_PRICE_ID   OUTPUT,
     @PRL_COL_ID          = @LINE_OUTSALE_PRL_COL_ID OUTPUT,
     @PLU_H_OR_M          = @PLU_H_OR_M  OUTPUT,
     @LINE_PRICE_HOME     = @LINE_PRICE_H       OUTPUT, 
     @LINE_PRICEFULL_HOME = @LINE_PRICEFULL_H   OUTPUT, 
     @LINE_PRICE_MAIN     = @LINE_PRICE_M       OUTPUT, 
     @LINE_PRICEFULL_MAIN = @LINE_PRICEFULL_M   OUTPUT, 
     @LINE_NAME           = @LINE_NAME          OUTPUT,
     @LINE_UNIT           = @LINE_UNIT          OUTPUT,
     @PACK_ID             = @LINE_PACK_ID       OUTPUT,
     @PACK_PLU_INVERSE    = @LINE_PACK_INVERSE  OUTPUT,
     @PACK_PLU_K_UNIT     = @LINE_PACK_K        OUTPUT,
     @DISCOUNT            = @LINE_O_DISCOUNT    OUTPUT,
     @STOCK_TYPE          = @STOCK_TYPE         OUTPUT
IF NOT(@@ERROR = 0 AND @result = 0)
BEGIN
  SET @result = 1
  GOTO finish
END
-- уточнение типа строки
set @LINE_TYPE = case
     -- задан комментарий
     when @LINE_TYPE is not null and @LINE_TYPE = 2 then @LINE_TYPE
     -- товар
     when @STOCK_TYPE = 0 then 0
     -- услуга
     when @STOCK_TYPE = 5 then 1
     else 2 end -- комментарий
if @LINE_TYPE <> 0
  -- для НЕ товара - сброс размещения и партии
  select @LINE_LOC_ID    = 0, @LINE_DEP_ID  = 0,
         @LINE_SUBDEP_ID = 0, @LINE_SECT_ID = 0,
         @LINE_CNS_ID    = NULL

-- (added by aba 10.10.2005)
-- Если не требуется сохранить цены на входе,
-- используем цены, определенные внутри процедуры.
IF @DO_CALC_PRICES > 0 BEGIN
   SET @LINE_PRICE_HOME     = @LINE_PRICE_H
   SET @LINE_PRICEFULL_HOME = @LINE_PRICEFULL_H
   SET @LINE_PRICE_MAIN     = @LINE_PRICE_M
   SET @LINE_PRICEFULL_MAIN = @LINE_PRICEFULL_M
   SET @LINE_OUT_DISCOUNT   = @LINE_O_DISCOUNT
END

-- если товар - это скидка
if (@LINE_PLU_ID = @parafarm_plu)  AND (GETDATE() BETWEEN '2020-03-01' AND '2020-03-31 23:59:59')  
begin	
	-- добавлено временно для парафармы
	-- скидка -50.00 грн, при наличии товара парафармы на 350.00 грн и более
	-- Alter  : 28.02.2020 Lukin - добавлена акция по парафарме. Если в чеке есть товар из групп (54-12-0 = 20% и 54-13-0 = 15%), тогда скидка -ХХХХ грн
	--								Акция действительна до 31.03.2020 23:59:59 
	
	-- дадим возможность списать в минус
	UPDATE dbo.STOCK SET STOCK_NOT_NEGATIVE = 0 WHERE PLU_ID = @parafarm_plu;

	SELECT 
		/*@amount_parafarm = sum(coalesce((lt.LINE_OUT_PRICEFULL * lt.LINE_QUAN), 0.00)),
		@margin_parafarm = round(
								(sum(coalesce((lt.LINE_OUT_PRICEFULL * lt.LINE_QUAN), 0.00)) / sum(coalesce((c.CNS_COSTFULL_HOME * lt.LINE_QUAN), 0.00)) -1 ) * 100,
								0)*/
	@perc15 =sum(CASE WHEN p.DEPARTMENT_SUB_ID = 13 THEN 0.15 * coalesce((lt.LINE_OUT_PRICEFULL * lt.LINE_QUAN), 0.00) ELSE 0 end),
	@perc20 =sum(CASE WHEN p.DEPARTMENT_SUB_ID = 12 THEN 0.20 * coalesce((lt.LINE_OUT_PRICEFULL * lt.LINE_QUAN), 0.00) ELSE 0 end)
	from dbo.LINE_TRANSACTION lt
	join dbo.CONSIGNMENT c on c.CNS_ID = lt.LINE_CNS_ID
	join dbo.PLU p on p.DEPARTMENT_ID = 54 and p.DEPARTMENT_SUB_ID IN(12,13) and p.PLU_ID = lt.LINE_PLU_ID AND lt.LINE_PLU_ID <> @parafarm_plu
	where lt.DOCUM_id = @docum_id ;
	
	/*if @amount_parafarm >= 350.00 and @margin_parafarm >= @margin_parafarm_perc
	begin
		SET @LINE_PRICEFULL_HOME = -50.00;
		set @LINE_QUAN = 1; 		
	end
	else
	begin		
		GOTO finish;		
	end*/
	
	SET @LINE_PRICEFULL_HOME = -1 * round((@perc15 + @perc20),2);
	SET @LINE_QUAN = 1;
	SET @IS_DISTRIB = 1;		
end


-- формирование строк
INSERT INTO LINE_TRANSACTION (
  DOCUM_ID             , LINE_NUMBER            ,
  LINE_TYPE            , LINE_PLU_ID            ,
  LINE_IN_OUT          , LINE_NAME              , LINE_UNIT, 
  LINE_CNS_ID          , LINE_LOC_ID            ,
  LINE_DEP_ID          , LINE_SUBDEP_ID         , LINE_SECT_ID, 
  LINE_PARENT_ID       , LINE_CHILD_NUMBER      ,
  LINE_OUTSALE_PRICE_ID, LINE_OUTSALE_PRL_COL_ID, LINETRANS_IS_REGISTR, 
  LINE_PACK_ID   , LINE_PACK_K            , LINE_PACK_INVERS
) VALUES (
  @DOCUM_ID             , @LINE_NUMBER            ,
  @LINE_TYPE            , @LINE_PLU_ID            ,
  @LINE_IN_OUT          , @LINE_NAME              , @LINE_UNIT, 
  CASE WHEN @LINE_IN_OUT = -1 THEN @LINE_CNS_ID ELSE NULL END, @LINE_LOC_ID            ,
  @LINE_DEP_ID          , @LINE_SUBDEP_ID         , @LINE_SECT_ID, 
  @LINE_PARENT_ID       , @LINE_CHILD_NUMBER      ,
  @LINE_OUTSALE_PRICE_ID, @LINE_OUTSALE_PRL_COL_ID, @LINETRANS_IS_REGISTR, 
  @LINE_PACK_ID         , @LINE_PACK_K            , @LINE_PACK_INVERSE
)
IF @@ERROR != 0
BEGIN
  SET @result = 2
  GOTO finish
END
SET @LINE_ID = SCOPE_IDENTITY()
IF NOT(@@ERROR = 0 AND @LINE_ID > 0)
BEGIN
  SET @result = 3
  GOTO finish
END

-- распределение
EXECUTE @result = UPDATE_LINE_TRANSACT
  @DOCUM_ID         = @DOCUM_ID,
  @LINE_ID          = @LINE_ID,
  @LINE_PLU_ID      = @LINE_PLU_ID,
  @LINE_CNS_ID      = @LINE_CNS_ID,
  @LINE_LOC_ID      = @LINE_LOC_ID,
  @LINE_DEP_ID      = @LINE_DEP_ID,
  @LINE_SUBDEP_ID   = @LINE_SUBDEP_ID,
  @LINE_SECT_ID     = @LINE_SECT_ID,
  @IS_DISTRIB       = @IS_DISTRIB,
  @VALUE            = @LINE_QUAN OUTPUT,
  @VALUE_PACK       = @pack_quan OUTPUT

IF NOT(@@ERROR = 0 AND @result = 0)
BEGIN
  SET @result = 4
  delete FROM LINE_TRANSACTION
    WHERE LINE_ID = @LINE_ID
  GOTO finish
END

 set @LINE_O_PRICEFULL = case
     when @id_curr = @id_home then @LINE_PRICEFULL_HOME
     when @id_curr = @id_main then @LINE_PRICEFULL_MAIN
     when @PLU_H_OR_M = 1     then @LINE_PRICEFULL_HOME * @rate_to_home
     else                          @LINE_PRICEFULL_MAIN * @rate_to_main
     end

-- (added by aba 10.10.2005)
-- Если не требуется сохранить цены на входе,
-- используем цены, определенные внутри процедуры.
IF @DO_CALC_PRICES>0 
   SET @LINE_OUT_PRICEFULL = @LINE_O_PRICEFULL

EXECUTE @result = CALC_LINE_TRANSACT
  @line_id  = @LINE_ID,
  @mode     = 505,       -- Цена полная в валюте документа
  @newValue = @LINE_OUT_PRICEFULL,
  @disc_action_mode   = @disc_action_mode,
  @disc_action_apply =  @disc_action_apply OUTPUT

IF NOT(@@ERROR = 0 AND @result = 0)
BEGIN
  SET @result = 5
  delete FROM LINE_TRANSACTION
    WHERE LINE_ID = @LINE_ID
  GOTO finish
END

if (isnull(@RESULT_IN_SELECT,0) = 1)
  SELECT
    pss.plu_sumquan_free+l.LINE_QUAN FREEQUAN,
    l.LINE_QUAN OLDQUAN,
    l.LINE_ID,
    l.DOCUM_ID,
    l.LINE_NUMBER,
    l.LINE_TYPE,
    l.LINE_PLU_ID,
    l.LINE_IN_OUT,
    l.LINE_NAME,
    l.LINE_UNIT,
    l.LINE_QUAN,
    l.LINE_PRICE_HOME,
    l.LINE_PRICEFULL_HOME,
    l.LINE_PRICE_MAIN,
    l.LINE_PRICEFULL_MAIN,
    l.LINETRANS_PRICEFULL,
    l.LINE_DONE,
    l.LINETRANS_IS_SHIP,
    l.LINE_OUT_PRICE,
    l.LINE_OUT_PRICEFULL ,
    l.LINE_OUT_DISCOUNT,
    l.LINE_CNS_ID,
    l.LINE_LOC_ID,
    l.LINE_DEP_ID,
    l.LINE_SUBDEP_ID,
    l.LINE_SECT_ID,
    l.LINE_QUAN_DISTRIB,
    l.LINE_PARENT_ID,
    l.LINE_CHILD_NUMBER,
    l.LINE_OUTSALE_PRICE_ID,
    l.LINE_OUTSALE_PRL_COL_ID, l.LINE_OUTSALE_MARKUP,
    l.LINETRANS_IS_REGISTR, l.LINETRANS_SUM, l.LINETRANS_TAX_SUM,
    l.LINE_QUAN_RESERV,
    isnull(p.PLU_TAX,0) as PLU_TAX, 
    case when p.STOCK_TYPE <> 0 or p.PLU_BURDEN is NULL 
         then 0 else p.PLU_BURDEN end as PLU_BURDEN,
    p.PLU_SHORTNAME,
    p.PLU_NAME, p.PLU_NAME_2,
    l.LINE_QUAN * l.LINE_PRICE_HOME     AS LINESUMM_HOME,
    l.LINE_QUAN * l.LINE_PRICEFULL_HOME AS LINESUMM_FULLHOME,
    l.LINE_QUAN * l.LINE_PRICE_MAIN     AS LINESUMM_MAIN,
    l.LINE_QUAN * l.LINE_PRICEFULL_MAIN AS LINESUMM_FULLMAIN,
    l.LINE_QUAN * l.LINE_OUT_PRICE      AS LINESUMM,
    l.LINE_QUAN * l.LINE_OUT_PRICEFULL  AS LINESUMM_FULL,
    (l.LINETRANS_PRICEFULL - l.LINE_PRICEFULL_HOME) * l.LINE_QUAN as LINE_DISCOUNT_SUM,
    l.LINE_PACK_ID,
    l.LINE_PACK_K,
    l.LINE_PACK_INVERS,
    @pack_quan AS LINE_QUAN_PACK,
    pac.PACK_NAME,
    c.CNS_DT_MANUFACT, c.CNS_DT_MAXSALE, c.CNS_PACKQUAN,
    p.PLU_STPACK, p.PLU_FORM_PRODUCE,
    p.PLU_IS_PIECE,
    c.CNS_IS_LOCK, c.CNS_SERIES, @disc_action_apply IS_DISC_ACTION
    FROM LINE_TRANSACTION l
    LEFT JOIN PLU AS p ON (PLU_ID = LINE_PLU_ID)
    LEFT JOIN CONSIGNMENT AS c ON (c.CNS_ID = l.LINE_CNS_ID)
    LEFT JOIN PACK    pac ON (pac.PACK_ID = l.LINE_PACK_ID)
    LEFT JOIN PLU_STOCK_SUMQUAN pss ON pss.PLU_ID = p.PLU_ID
       AND pss.LOCATION_ID = l.LINE_LOC_ID
       AND pss.LOCATION_DEP_ID = l.LINE_DEP_ID
       AND pss.LOCATION_SUBDEP_ID = l.LINE_SUBDEP_ID
       AND pss.LOCATION_SECT_ID = l.LINE_SECT_ID
    WHERE LINE_ID = @LINE_ID

-- Создание прототипа партии для возвратного чека
DECLARE @TransMove int
IF @LINE_TYPE = 0 AND @LINE_IN_OUT = 1 
  SELECT @TransMove = CAST(CONST_VALUE AS int) FROM CONSTANTS WHERE CONST_ID = 'TransactMovement'
IF @LINE_TYPE = 0 AND @LINE_IN_OUT = 1 AND @TransMove = 1
BEGIN
  IF ISNULL(@LINE_CNS_ID, 0) <> 0
    EXEC LOT_CREATE_BY_CNS
      @DOCTYPE            = 33,
      @DOCLINEID          = @LINE_ID,
      @DOCID              = @DOCUM_ID,
      @CNS_ID             = @LINE_CNS_ID,
      @LOCATION_ID        = @LINE_LOC_ID,
      @LOCATION_DEP_ID    = @LINE_DEP_ID,
      @LOCATION_SUBDEP_ID = @LINE_SUBDEP_ID,
      @LOCATION_SECT_ID   = @LINE_SECT_ID,
      @MODE               = 1  -- запись @CNS_ID в LOT_CNS_PARENT_ID
  ELSE
  BEGIN
    DECLARE @COST_HOME T_COST,
            @COSTFULL_HOME T_COST,
            @COST_MAIN T_COST,
            @COSTFULL_MAIN T_COST,
            @COST T_COST,
            @COSTFULL T_COST,
            @HOME_CURR T_CURRENCY_ID

    exec GET_INVENTORY_COST_4PLU  
      @LINE_PLU_ID = @LINE_PLU_ID, 
      @LINE_CNS_ID = NULL, 
      @LOC_ID = @LINE_LOC_ID, 
      @DEP_ID = @LINE_DEP_ID, 
      @SUBDEP_ID = @LINE_SUBDEP_ID, 
      @SECT_ID = @LINE_SECT_ID, 
      @LINE_COST_HOME = @COST_HOME output, 
      @LINE_COSTFULL_HOME = @COSTFULL_HOME output, 
      @LINE_COST_MAIN = @COST_MAIN output, 
      @LINE_COSTFULL_MAIN = @COSTFULL_MAIN output

      SELECT @HOME_CURR = CAST(CONST_VALUE AS INT) FROM CONSTANTS WHERE CONST_ID = 'IdCurrHome'
      IF @HOME_CURR = @DOC_EXT_CURR_D
      BEGIN
        SET @COST = @COST_HOME
        SET @COSTFULL = @COSTFULL_HOME
      END
      ELSE
      BEGIN
        SET @COST = @COST_MAIN
  SET @COSTFULL = @COSTFULL_MAIN
      END

   IF ISNULL(@ENTERPRISE_ID, '') = ''
     SELECT TOP 1 @ENTERPRISE_ID = ENTERPRISE_ID  
       FROM CONSIGNMENT
      WHERE PLU_ID = @LINE_PLU_ID
      ORDER BY CNS_ID DESC

    insert into LOT
    ( LOT_DOC_TYPE,  LOT_DOCLINE_ID,    LOT_DOC_ID,    LOT_PLU_ID,
      LOT_CURR,      LOT_ENTERPRISE_ID, LOT_COST,      LOT_COSTFULL,
      LOT_COST_HOME, LOT_COSTFULL_HOME, LOT_COST_MAIN, LOT_COSTFULL_MAIN )
    values
    ( 33,     @LINE_ID,       @DOCUM_ID,  @LINE_PLU_ID,
      @DOC_EXT_CURR_D, @ENTERPRISE_ID, @COST,      @COSTFULL,
      @COST_HOME,      @COSTFULL_HOME, @COST_MAIN, @COSTFULL_MAIN )
    IF (@@ERROR <> 0)
    BEGIN
      RETURN 6 -- ОШИБКA создания прототипа партии
    END
  END
END

finish:

IF @CALC_DOC = 1 AND @result = 0 
  EXEC @result = CALC_SUMM_TRANSACT
    @DOCUM_ID             = @DOCUM_ID,
    @DOCUM_SUMM_HOME      = @DOCUM_SUMM_HOME  OUTPUT,
    @DOCUM_INTAX_HOME     = @DOCUM_INTAX_HOME OUTPUT,
    @DOCUM_SUMM_MAIN      = @DOCUM_SUMM_MAIN  OUTPUT,
    @DOC_EXT_SUMM_D       = @DOC_EXT_SUMM_D   OUTPUT,
    @TOTAL_DISCOUNT       = @TOTAL_DISCOUNT   OUTPUT,
    @TRANSACT_SUMDISCOUNT = @TRANSACT_SUMDISCOUNT OUTPUT

RETURN @result
--------------------------------------------------------------------
