IF OBJECT_ID('CM_SPAY_PURCHASE', 'P') IS NOT NULL
    DROP PROCEDURE CM_SPAY_PURCHASE;
GO

--------------------------------------------------------
-- NAME   : PROCEDURE CM_SPAY_PURCHASE
-- NOTE   : Оплата на платежный терминал
-- RELEASE: 20.01.2025 star 
-- RELEASE: 10.02.2025 star - проверка ранней оплаты
-- RELEASE: 02.03.2025 star - доработка проверки ранней оплаты
-- RELEASE: 24.03.2025 star - мерчант из EKKA_NUMB
-- RELEASE: 26.03.2025 star - обработка работы без подключенного терминала
-- RELEASE: 28.04.2025 star - исключен предварительный ping и добавлена 
--                            обработка ошибок парсинга
-- RELEASE: 15.05.2025 star - fix запроса на терминал
-- RELEASE: 29.05.2025 star - учет режима работы с Paylink
-- RELEASE: 23.03.2026 star - улучшение обработки ошибок и результатов оплаты
-- RELEASE: 25.03.2026 star - тайм-аут (20 сек), если терминал занят (code = 9009),
--                            и 4 попытки оплаты
-- RELEASE: 26.03.2026 star - тайм-аут 10 сек и 6 попыток оплаты
-- RELEASE: 27.03.2026 star - добавлен тайм-аут на ошибку 9013
-- RELEASE: 07.04.2026 star - формирование и передача id платежа
-- RELEASE: 08.04.2026 star - обработка ранней оплаты по id платежа
-- RELEASE: 15.04.2026 star - без обработки id платежа, с одним purchase и last-result в цикле
----------------------------------------------------------
CREATE PROCEDURE CM_SPAY_PURCHASE
  @POS_ID      INT,                   -- код торговой кассы
  @DOCUM_NUMB  VARCHAR(15),           -- номер чека
  @DOCUM_SUM   MONEY,                 -- сумма к оплате
  @PURCHASE_ID UNIQUEIDENTIFIER,      -- ид-р платежа
  @PAYMENTS    NVARCHAR(max) OUTPUT,  -- информация об оплате для чека РРО
  @MESSAGE     VARCHAR(800)  OUTPUT   -- ошибки
AS
BEGIN
SET NOCOUNT ON;
  DECLARE      
    @DEBUG         INT = 0  -- для теста 
  , @PAYLINK       INT = 0 -- 0-без Paylink, 1-с Paylink
  , @EKKA_ID       INT
  , @device_id     VARCHAR(40)
  , @status        INT
  , @taskUri      NVARCHAR(max)
  , @document     NVARCHAR(max)
  , @answer       NVARCHAR(max)
  , @errMessage   NVARCHAR(max)
  , @status_str   VARCHAR(200)
  , @RRO_name     VARCHAR(10)
  , @RRO_numb     INT = 0
  , @result       INT = 0
  , @pay_sum      VARCHAR(20)
  , @receipt_dt   DATETIME
  , @start_time   DATETIME
  , @pay_result   VARCHAR(MAX)
  , @pay_id       VARCHAR(40)
  , @pay_dt       DATETIME
  , @pay_dt_str   VARCHAR(20)
  , @pay_sum_last VARCHAR(20)
  , @success      VARCHAR(20)
  , @code         INT
  , @step         INT
  , @step_max     INT = 6   -- количество попыток проверки оплаты
  , @delay        INT = 10  -- тайм-аут в сек, если терминал занят (code = 9009)
  , @SPAY_ID      VARCHAR(40) -- ид операции оплаты
  ;

  SET @MESSAGE  = '';
  SET @PAYMENTS = '';
  SET @pay_sum  = CAST(CAST(@DOCUM_SUM * 100 AS INT) AS VARCHAR(20));
  SET @SPAY_ID  = CAST( ISNULL( @PURCHASE_ID, NEWID() ) AS VARCHAR(40));  

  -- проверка работы с Paylink
  SELECT @PAYLINK = CONST_VALUE
    FROM CONSTANTS 
    WHERE CONST_ID = 'CM_SRRO_USE_PAYLINK'
      AND ISNUMERIC(CONST_VALUE) = 1;
      
  IF (@PAYLINK = 1)
  BEGIN
    -- Paylink самостоятельно обрабатывает оплату
    RETURN 0;
  END

  SELECT TOP 1 @EKKA_ID   = e.EKKA_ID
             , @device_id = RTRIM(LTRIM(e.EKKA_DRIVER))
             , @RRO_name  = e.EKKA_NAME
    FROM EKKA e
    WHERE e.TR_CASH_ID = @POS_ID
      AND e.EKKA_NAME LIKE 'PAY%';

  IF (@EKKA_ID IS NULL)
  BEGIN
    -- платежный терминал не подключен
    RETURN 0;
  END    

  SET @step = 0;
  SET @start_time = GETDATE();

  WHILE (@step < @step_max)
  BEGIN
    SET @step += 1;

      SET @MESSAGE = '@step='+ CAST(@step AS VARCHAR(10))
      INSERT INTO CM_SRRO_PURCHASE 
               ( PURCHASE_ID, PAY_SUM, DOCUM_NUMB, ERR_MESSAGE, REQUEST_DT, 
                 REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON )
        VALUES ( @PURCHASE_ID, @DOCUM_SUM, @DOCUM_NUMB, @MESSAGE, GETDATE(), 
                 '', 'log', 0, '' );
      SET @MESSAGE = '';

    -- проверка ранней оплаты
    SET @answer = NULL;
    SELECT TOP 1 @answer = RESPONSE_JSON
      FROM CM_SRRO_PURCHASE
      WHERE DOCUM_NUMB = @DOCUM_NUMB
        AND ISNULL(RESPONSE_STATUS,0) = 200
      ORDER BY REQUEST_DT DESC;

    IF(@answer IS NOT NULL)
      GOTO parsing;

    IF (@DEBUG = 1) -- OR (@DOCUM_NUMB = '001/681976')
    BEGIN
      --  hard TEST
      SET @PAYMENTS = ',
      "card_mask": "************8645",
      "bank_name": "ПриватБанк",
      "auth_code": "67771Q",
      "rrn": "092793286214",
      "payment_system": "MasterCard",
      "owner_name": "",
      "terminal": "S119034Q",
      "acquirer_and_seller": "ПриватБанк",
      "receipt_no": "214525",
      "signature_required": false
      ';
      RETURN 0;
    END

    IF (@step > 1)
    BEGIN
      -- проверка результата операции на предыдущем шаге
      SELECT @status  = 0
            ,@answer  = ''
            ,@status_str = ''
            ,@errMessage = ''
            ,@receipt_dt = GETDATE();

      set @taskUri = REPLACE('pos/{id}/last-result', '{id}', @device_id);  

      EXEC @result = CM_SPAY_API_GET
             @EKKA_ID    = @EKKA_ID
            ,@taskUri    = @taskUri
            ,@document   = @answer     OUTPUT
            ,@status     = @status     OUTPUT
            ,@errMessage = @errMessage OUTPUT;

      SET @MESSAGE = '@status='+ CAST(@status AS VARCHAR(10)) 
      INSERT INTO CM_SRRO_PURCHASE 
               ( PURCHASE_ID, PAY_SUM, DOCUM_NUMB, ERR_MESSAGE, REQUEST_DT, 
                 REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON )
        VALUES ( @PURCHASE_ID, @DOCUM_SUM, @DOCUM_NUMB, @MESSAGE, GETDATE(), 
                 @taskUri, 'log', 0, @answer );
      SET @MESSAGE = '';

      IF (@result = 0 AND @status = 200)
      BEGIN
        -- проверка статуса и времени оплаты
        BEGIN TRY
          SET @pay_result = dbo.GetJsonValue( @answer, 'result' );
          SET @success = dbo.GetJsonValue( @answer, 'success' );
          IF (ISNULL(@success,'') = 'true' AND LEN(ISNULL(@pay_result, '')) > 20)
          BEGIN
            -- проверка времени оплаты 
            -- "date_time": "17.01.2025 17:43:23",
            SET @pay_dt = NULL;
            SET @pay_dt_str = dbo.GetJsonValue( @pay_result, 'date_time' ); 
            IF ISNULL(@pay_dt_str, '') <> ''
            BEGIN
              SET @pay_dt = CONVERT( DATETIME, LEFT(@pay_dt_str, 10), 104)
              SET @pay_dt += CONVERT( DATETIME, SUBSTRING(@pay_dt_str, 11, 9), 108)
            END
            IF (@pay_dt IS NOT NULL AND @pay_dt > @start_time)
            BEGIN
              -- проверка суммы оплаты
              SET @pay_sum_last = dbo.GetJsonValue( @pay_result, 'amount' );
              IF(ISNULL(@pay_sum_last,'') = @pay_sum)
                GOTO parsing;

            END  -- 
          END  -- @success

          IF (@step < @step_max)
          BEGIN
            WAITFOR DELAY @delay; -- подождать N секунд
            CONTINUE; -- повторить попытку
          END

        END TRY
        BEGIN CATCH        
        END CATCH
      END  -- @status = 200

      IF (@status = 503)
      BEGIN
        -- доступен json с описанием ошибки
        SET @code = ISNULL(CAST(dbo.GetJsonValue( @answer, 'code' ) AS INT), 0);
        -- 9009 Пристрій вже зайнятий виконанням команди. Потрібно зачекати декілька секунд та повторити спробу.
        -- 9013 Connection refused : Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение 
        IF (@step < @step_max AND @code IN (9009, 9013))
        BEGIN
          WAITFOR DELAY @delay; -- подождать N секунд
          CONTINUE; -- повторить попытку
        END

        --{"success":false,"code":5,"error":" ЗВЕРНIТЬСЯ В БАНК  "
        --{"success":false,"code":51,"error":"   БРАКУЄ КОШТIВ    "
        --{"success":false,"code":55,"error":"  НЕПРАВИЛЬНИЙ ПIН  "
        --{"success":false,"code":65,"error":" ЗВЕРНIТЬСЯ В БАНК  "
        --{"success":false,"code":1001,"error":"Transaction canceled by user"
        IF (@step < @step_max AND @code NOT IN (5, 51, 55, 65, 1001))
          CONTINUE; -- повторить попытку
      END  -- @status = 503
      ELSE IF (@step < @step_max)
        CONTINUE; -- повторить попытку

      SET @MESSAGE = 'Терминал '+ @RRO_name +': Ошибка оплаты (3)';
      EXEC CM_SRRO_HTTP_ERROR  @result, @status, @answer, 
                               @errMessage, 'error', @MESSAGE OUTPUT;      

      RETURN 3;
    END  -- @step > 1

    -- команда "Оплата" на платежный терминал = PRODUCT
    SELECT @status = 0
         , @answer = ''
         , @status_str = ''
         , @errMessage = ''
          ,@receipt_dt = GETDATE();

    SET @taskUri = REPLACE('pos/{id}/purchase', '{id}', @device_id);  
    SET @document = '{ "amount": '+ @pay_sum +' }';
--                  + ', "id": "'+ @SPAY_ID +'" }';

    EXEC @result = CM_SPAY_API_POST
         @EKKA_ID    = @EKKA_ID
        ,@taskUri    = @taskUri
        ,@document   = @document
        ,@status     = @status     OUTPUT
        ,@answer     = @answer     OUTPUT
        ,@errMessage = @errMessage OUTPUT;

      SET @MESSAGE = '@status='+ CAST(@status AS VARCHAR(10))
      INSERT INTO CM_SRRO_PURCHASE 
               ( PURCHASE_ID, PAY_SUM, DOCUM_NUMB, ERR_MESSAGE, REQUEST_DT, 
                 REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON )
        VALUES ( @PURCHASE_ID, @DOCUM_SUM, @DOCUM_NUMB, @MESSAGE, GETDATE(), 
                 @taskUri, 'log', 0, @answer );
      SET @MESSAGE = '';

    IF (@result <> 0 OR @status <> 200)
    BEGIN
      SET @MESSAGE = 'Терминал '+ @RRO_name +': Ошибка оплаты (1)';
      EXEC CM_SRRO_HTTP_ERROR  @result, @status, @answer, 
                               @errMessage, 'error', @MESSAGE OUTPUT;      

      INSERT INTO CM_SRRO_PURCHASE 
               ( PURCHASE_ID, PAY_SUM, DOCUM_NUMB, ERR_MESSAGE, REQUEST_DT, 
                 REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON )
        VALUES ( @PURCHASE_ID, @DOCUM_SUM, @DOCUM_NUMB, @MESSAGE, @receipt_dt, 
                 @taskUri, @document, @status, @answer );

      IF (@status = 503)
      BEGIN
        -- доступен json с описанием ошибки
        SET @code = ISNULL(CAST(dbo.GetJsonValue( @answer, 'code' ) AS INT), 0);
        -- 9009 Пристрій вже зайнятий виконанням команди. Потрібно зачекати декілька секунд та повторити спробу.
        -- 9013 Connection refused : Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение 
        IF (@step < @step_max AND @code IN (9009, 9013))
        BEGIN
          WAITFOR DELAY @delay; -- подождать N секунд
          CONTINUE; -- повторить попытку
        END
        --{"success":false,"code":5,"error":" ЗВЕРНIТЬСЯ В БАНК  "
        --{"success":false,"code":51,"error":"   БРАКУЄ КОШТIВ    "
        --{"success":false,"code":55,"error":"  НЕПРАВИЛЬНИЙ ПIН  "
        --{"success":false,"code":65,"error":" ЗВЕРНIТЬСЯ В БАНК  "
        --{"success":false,"code":1001,"error":"Transaction canceled by user"
        IF (@step < @step_max AND @code NOT IN (5, 51, 55, 65, 1001))
          CONTINUE; -- повторить попытку
      END
      ELSE IF (@step < @step_max)
        CONTINUE; -- повторить попытку

      RETURN 1;
    END

    IF(ISNULL( dbo.GetJsonValue( @answer, 'success' ),'') <> 'true')
    BEGIN
      SET @MESSAGE = 'Терминал '+ @RRO_name 
                   + ': Ошибка оплаты (2)';
      INSERT INTO CM_SRRO_PURCHASE 
               ( PURCHASE_ID, PAY_SUM, DOCUM_NUMB, ERR_MESSAGE, REQUEST_DT, 
                 REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON )
        VALUES ( @PURCHASE_ID, @DOCUM_SUM, @DOCUM_NUMB, @MESSAGE, @receipt_dt, 
                 @taskUri, @document, @status, @answer );

      SET @code = ISNULL(CAST(dbo.GetJsonValue( @answer, 'code' ) AS INT), 0);
      IF (@step < @step_max AND @code NOT IN (5, 51, 55, 65, 1001))
        CONTINUE; -- повторить попытку

      RETURN 2;
    END

    BREAK; -- успешная оплата, выход из цикла
END  -- while step < step_max

parsing:

BEGIN TRY
  -- парсинг оплаты
  DECLARE
    @pay_invnumb VARCHAR(40)
  , @pay_rrn     VARCHAR(40)
  , @val   VARCHAR(100)
  , @name  VARCHAR(100)
  , @k     INT
  , @payments_card VARCHAR(MAX) = ',
"card_mask": "$card_mask",
"bank_name": "$bank_name",
"auth_code": "$auth_code",
"rrn": "$rrn",
"payment_system": "$payment_system",
"owner_name": "$owner_name",
"terminal": "$terminal",
"acquirer_and_seller": "$acquirer_and_seller",
"receipt_no": "$receipt_no",
"signature_required": $signature_required
';

  SET @pay_result = dbo.GetJsonValue( @answer, 'result' );
  IF LEN(ISNULL(@pay_result, '')) > 20
  BEGIN
    SET @pay_invnumb = dbo.GetJsonValue( @pay_result, 'invoice_num' );
    SET @pay_rrn = dbo.GetJsonValue( @pay_result, 'rrn' );

    -- "date_time": "17.01.2025 17:43:23",
    SET @pay_dt_str = dbo.GetJsonValue( @pay_result, 'date_time' ); 
    IF ISNULL(@pay_dt_str, '') <> ''
    BEGIN
      SET @pay_dt = CONVERT( DATETIME, LEFT(@pay_dt_str, 10), 104)
      SET @pay_dt += CONVERT( DATETIME, SUBSTRING(@pay_dt_str, 11, 9), 108)
    END

    SET @k = 10;
    WHILE (@k > 0)
    BEGIN      
      SET @name = CASE @k
            WHEN  1 THEN 'card_mask'
            WHEN  2 THEN 'bank_name'
            WHEN  3 THEN 'auth_code'
            WHEN  4 THEN 'rrn'
            WHEN  5 THEN 'payment_system'
            WHEN  6 THEN 'owner_name'
            WHEN  7 THEN 'terminal'
            WHEN  8 THEN 'acquirer_and_seller'
            WHEN  9 THEN 'receipt_no'
            WHEN 10 THEN 'signature_required'
            ELSE '' END;
      SET @val = ISNULL(dbo.GetJsonValue( @pay_result, @name),'');
      IF(@k = 10) AND (@val ='')
        SET @val = 'false';
      SET @payments_card = REPLACE( @payments_card, '$'+ @name, @val );

      SET @k -= 1;
    END
  END
  SET @PAYMENTS = @payments_card;

  INSERT INTO CM_SRRO_PURCHASE 
        ( PURCHASE_ID, PAY_SUM, PAY_INVNUM, PAY_RRN, PAY_DT, DOCUM_NUMB,
          REQUEST_DT, REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON )
  VALUES ( @PURCHASE_ID, @DOCUM_SUM, @pay_invnumb, @pay_rrn, @pay_dt, @DOCUM_NUMB,
          @receipt_dt, @taskUri, @document, @status, @answer );

END TRY
BEGIN CATCH
  SET @MESSAGE = 'Терминал '+ @RRO_name 
                 + ': Ошибка парсинга или сохранения ответа' +CHAR(13)+CHAR(10)
                 + ERROR_MESSAGE();
  INSERT INTO CM_SRRO_PURCHASE 
          ( PURCHASE_ID, PAY_SUM, PAY_INVNUM, PAY_RRN, PAY_DT, DOCUM_NUMB,
            REQUEST_DT, REQUEST_METHOD, REQUEST_JSON, RESPONSE_STATUS, RESPONSE_JSON,
            ERR_MESSAGE )
    VALUES ( @PURCHASE_ID, @DOCUM_SUM, @pay_invnumb, @pay_rrn, @pay_dt, @DOCUM_NUMB,
            @receipt_dt, @taskUri, @document, @status *(-1), @answer, @MESSAGE );
    RETURN 4;
END CATCH

RETURN @result;
----------------------------------------------------------
END;
GO

GRANT EXECUTE ON CM_SPAY_PURCHASE TO role_TWapp;
GO
