----------------------------------------------------------
-- NAME : TRIGGER trig_STOCK_d 
-- NOTE : Отслеживание интегральных количеств по артикулу и размещениям
-- CREATE : 16.11.02 star
-- RELEASE: 29.04.02 alex 
-- RELEASE: 29.12.25 star - замена UPDATE_PLU_QTY на CALC_ONE_PLU_QUAN
----------------------------------------------------------
ALTER TRIGGER trig_STOCK_d ON STOCK
FOR DELETE
AS
DECLARE 
  @PLU_ID             T_PLU,
  @LOCATION_ID        T_LOCATION_ID,
  @LOCATION_DEP_ID    T_LOCATION_ID,
  @LOCATION_SUBDEP_ID T_LOCATION_ID,
  @LOCATION_SECT_ID   T_LOCATION_ID

  DECLARE Cur_del CURSOR FOR
  SELECT PLU_ID, LOCATION_ID, LOCATION_DEP_ID, 
         LOCATION_SUBDEP_ID, LOCATION_SECT_ID FROM deleted
  OPEN Cur_del

  FETCH NEXT FROM Cur_del
  INTO @PLU_ID, @LOCATION_ID, @LOCATION_DEP_ID, 
       @LOCATION_SUBDEP_ID, @LOCATION_SECT_ID
  WHILE @@FETCH_STATUS = 0
  BEGIN
    -- по артикулу
    EXECUTE CALC_ONE_PLU_QUAN @PLU_ID = @PLU_ID, @STOCK_ONLY = 1;

    -- суммы по количествам по размещениям
    EXECUTE UPDATE_PLU_STOCK_SUMQUAN  @PLU_ID = @PLU_ID, 
      @LOCATION_ID = @LOCATION_ID, @LOCATION_DEP_ID = @LOCATION_DEP_ID,
      @LOCATION_SUBDEP_ID = @LOCATION_SUBDEP_ID, @LOCATION_SECT_ID = @LOCATION_SECT_ID

    FETCH NEXT FROM Cur_del
     INTO @PLU_ID, @LOCATION_ID, @LOCATION_DEP_ID, 
          @LOCATION_SUBDEP_ID, @LOCATION_SECT_ID
  END
  CLOSE Cur_del
  DEALLOCATE Cur_del
----------------------------------------------------------
GO
