----------------------------------------------------------
-- NAME   : TRIGGER trig_LINE_SALE_u_CalcPluQuan
-- NOTE   : Обновить количественные характеристики артикула при
--          изменении количеств для строк расходных накладным
-- RELEASE: 30.05.02 alex 
-- RELEASE: 22.07.06 star - from: TRIGGER UPD_LINE_SALE_SUM_TU
-- ALTER  : 05.10.06 kaa - учёт константы 'UseStockQty'
-- ALTER  : 31.03.07 star - fix done
-- ALTER  : 25.04.12 vsh + star - where
-- RELEASE: 23.03.2026 star - hot fix
----------------------------------------------------------
ALTER TRIGGER trig_LINE_SALE_u_CalcPluQuan ON LINE_SALE
FOR UPDATE
AS
IF @@ROWCOUNT > 0
BEGIN
  IF UPDATE (LINE_DONE        ) OR 
     UPDATE (LINE_CNS_ID      ) OR UPDATE (LINE_LOC_ID     ) OR
     UPDATE (LINE_DEP_ID      ) OR UPDATE (LINE_SUBDEP_ID  ) OR
     UPDATE (LINE_SECT_ID     ) OR UPDATE (LINE_QUAN       ) OR
     UPDATE (LINE_QUAN_DISTRIB) OR UPDATE (LINE_QUAN_RESERV)
  BEGIN

    DECLARE @s int
    SELECT @s = CAST(ISNULL(CONST_VALUE, 0) AS int) FROM CONSTANTS WHERE CONST_ID = 'UseStockQty'
    IF ISNULL(@s, 0) = 0 RETURN

    -- удалим характеристики для строк, которые закрылись
    DELETE STOCK_QUANTITY
      FROM STOCK_QUANTITY s, deleted d, inserted i, sale 
     WHERE sale.DOCUM_ID = s.STOCKQTY_DOCID
       AND s.STOCKQTY_DOCTYPE = sale.TDOC_ID
       AND s.STOCKQTY_LINEID = i.LINE_ID
       AND d.LINE_ID = i.LINE_ID
       AND ((d.LINE_DONE  = 0) AND (i.LINE_DONE != 0))

    -- добавим характеристики для строк, которые открылись
    INSERT INTO STOCK_QUANTITY (
      STOCKQTY_DOCTYPE, STOCKQTY_LINEID      , STOCKQTY_DOCID  ,
      STOCKQTY_PLU    , STOCKQTY_LOCAT       , STOCKQTY_DEP    ,
      STOCKQTY_SUBDEP , STOCKQTY_SECTION     , STOCKQTY_CNS    ,
      STOCKQTY_QUAN   , STOCKQTY_DISTRIB     , STOCKQTY_RESERV ,
      STOCKQTY_IS_PAID,
      STOCKQTY_SELF, STOCKQTY_DATE
    )
    SELECT
      d.TDOC_ID,         l.LINE_ID          , l.DOCUM_ID      ,
      l.LINE_PLU_ID    , l.LINE_LOC_ID      , l.LINE_DEP_ID     ,
      l.LINE_SUBDEP_ID , l.LINE_SECT_ID     , l.LINE_CNS_ID     ,
      l.LINE_QUAN      , l.LINE_QUAN_DISTRIB, l.LINE_QUAN_RESERV,
      0,
      d.SELFENTER_ID, d.DOCUM_DATE
    FROM inserted l
      INNER JOIN deleted t ON l.LINE_ID    = t.LINE_ID
                          AND t.LINE_DONE != 0
      INNER JOIN sale d ON d.DOCUM_ID = l.DOCUM_ID
      LEFT JOIN STOCK_QUANTITY s ON s.STOCKQTY_DOCTYPE    = d.TDOC_ID
                                AND s.STOCKQTY_LINEID     = l.LINE_ID
                                AND s.STOCKQTY_ASK_LINEID = 0
    WHERE l.LINE_PLU_ID IS NOT NULL
      AND l.LINE_DONE = 0
      AND s.STOCKQTY_LINEID IS NULL

    -- обновим характеристики для всех строк
    UPDATE s SET
      STOCKQTY_PLU          = l.LINE_PLU_ID      ,
      STOCKQTY_LOCAT        = l.LINE_LOC_ID      ,
      STOCKQTY_DEP          = l.LINE_DEP_ID      ,
      STOCKQTY_SUBDEP       = l.LINE_SUBDEP_ID   ,
      STOCKQTY_SECTION      = l.LINE_SECT_ID     ,
      STOCKQTY_CNS          = l.LINE_CNS_ID      ,
      STOCKQTY_QUAN         = l.LINE_QUAN        ,
      STOCKQTY_DISTRIB      = l.LINE_QUAN_DISTRIB,
      STOCKQTY_RESERV       = l.LINE_QUAN_RESERV ,
      STOCKQTY_IS_PAID      = 0
     FROM inserted l
       inner join sale d on d.DOCUM_ID = l.DOCUM_ID
       inner join STOCK_QUANTITY s on s.STOCKQTY_DOCTYPE = d.TDOC_ID
       AND s.STOCKQTY_LINEID = l.LINE_ID
  END
END
----------------------------------------------------------
GO
