----------------------------------------------------------
-- NAME   : TRIGGER trig_OVERVALUE_PRICE_u_DocList
-- NOTE   : ОБНОВЛЕНИЕ СПИСКОВ ДОКУМЕНТОВ ПРИ ИЗМЕНЕНИИ
--          АКТА ПЕРЕОЦЕНКИ ОТПУСКНЫХ ЦЕН
-- CREATE :
-- RELEASE: 21.03.2002 SERG
-- RELEASE: 15.12.2025 star - оптимизация
----------------------------------------------------------
ALTER TRIGGER trig_OVERVALUE_PRICE_u_DocList ON OVERVALUE_PRICE
FOR UPDATE
AS

DECLARE @DOCUM_ID                   T_IDENTIFIER
DECLARE @INS_SELFENTER_ID           T_ENTERPRISE_ID
DECLARE @INS_DOCUM_NUMB             T_DOCUMENT_NUMB
DECLARE @INS_DOCUM_DATE             DATETIME
DECLARE @INS_DOCUM_SUMM_HOME        T_DOCUMENT_SUMM
DECLARE @INS_DOCUM_INTAX_HOME       T_DOCUMENT_SUMM
DECLARE @INS_DOCUM_SUMM_MAIN        T_DOCUMENT_SUMM
DECLARE @INS_DOCUM_TAX_PROCENT      T_PROCENT
DECLARE @INS_DOCUM_STATE            T_DOCUM_STATE
DECLARE @INS_DOCUM_HOME_CURR        T_CURRENCY_ID
DECLARE @INS_DOCUM_MAIN_CURR        T_CURRENCY_ID
DECLARE @INS_LOCATION_ID            T_LOCATION_ID
DECLARE @INS_LOCATION_DEP_ID        T_LOCATION_ID
DECLARE @INS_LOCATION_SUBDEP_ID     T_LOCATION_ID
DECLARE @INS_LOCATION_SECT_ID       T_LOCATION_ID
DECLARE @INS_AGREE_ID               T_IDENTIFIER

SELECT  @DOCUM_ID                 = i.DOCUM_ID          ,
        @INS_SELFENTER_ID         = i.SELFENTER_ID      ,
        @INS_DOCUM_NUMB           = i.DOCUM_NUMB        ,
        @INS_DOCUM_DATE           = i.DOCUM_DATE        ,
        @INS_DOCUM_SUMM_HOME      = i.DOCUM_SUMM_HOME   ,
        @INS_DOCUM_INTAX_HOME     = i.DOCUM_INTAX_HOME  ,
        @INS_DOCUM_SUMM_MAIN      = i.DOCUM_SUMM_MAIN   ,
        @INS_DOCUM_TAX_PROCENT    = i.DOCUM_TAX_PROCENT ,
        @INS_DOCUM_STATE          = i.DOCUM_STATE       ,
        @INS_DOCUM_HOME_CURR      = i.DOCUM_HOME_CURR   ,
        @INS_DOCUM_MAIN_CURR      = i.DOCUM_MAIN_CURR   ,
        @INS_LOCATION_ID          = i.LOCATION_ID       ,
        @INS_LOCATION_DEP_ID      = i.LOCATION_DEP_ID   ,
        @INS_LOCATION_SUBDEP_ID   = i.LOCATION_SUBDEP_ID,
        @INS_LOCATION_SECT_ID     = i.LOCATION_SECT_ID  ,
        @INS_AGREE_ID             = i.AGREE_ID
   FROM INSERTED AS i
     INNER JOIN DELETED d ON d.DOCUM_ID = i.DOCUM_ID
   WHERE d.SELFENTER_ID        <> i.SELFENTER_ID       
      OR d.DOCUM_NUMB          <> i.DOCUM_NUMB         
      OR d.DOCUM_DATE          <> i.DOCUM_DATE         
      OR d.DOCUM_SUMM_HOME     <> i.DOCUM_SUMM_HOME    
      OR d.DOCUM_INTAX_HOME    <> i.DOCUM_INTAX_HOME   
      OR d.DOCUM_SUMM_MAIN     <> i.DOCUM_SUMM_MAIN    
      OR d.DOCUM_TAX_PROCENT   <> i.DOCUM_TAX_PROCENT  
      OR d.DOCUM_STATE         <> i.DOCUM_STATE        
      OR d.DOCUM_HOME_CURR     <> i.DOCUM_HOME_CURR    
      OR d.DOCUM_MAIN_CURR     <> i.DOCUM_MAIN_CURR    
      OR d.LOCATION_ID         <> i.LOCATION_ID        
      OR d.LOCATION_DEP_ID     <> i.LOCATION_DEP_ID    
      OR d.LOCATION_SUBDEP_ID  <> i.LOCATION_SUBDEP_ID 
      OR d.LOCATION_SECT_ID    <> i.LOCATION_SECT_ID   
      OR ISNULL(d.AGREE_ID, 0) <> ISNULL(i.AGREE_ID, 0)

IF (@DOCUM_ID IS NULL)
  RETURN;

DECLARE
  @DEL_DOCUM_DATE  DATETIME
, @DEL_DOCUM_STATE T_DOCUM_STATE
, @N_RETURN        INT =0
, @CLOSE_PERIOD    INT =0

EXECUTE @CLOSE_PERIOD = GET1_CLOSEPERIOD @DEL_DOCUM_DATE
IF (@CLOSE_PERIOD = 1)
BEGIN
  ROLLBACK TRANSACTION
  RETURN
END

SELECT @DEL_DOCUM_DATE  = DOCUM_DATE 
     , @DEL_DOCUM_STATE = DOCUM_STATE
   FROM DELETED;

EXECUTE @N_RETURN = INSERT_UPDATE_LIST_DOC
        @DOCUM_ID                 = @DOCUM_ID                ,
        @TDOC_ID                  = 23 ,
        @OLD_DOCUM_DATE           = @DEL_DOCUM_DATE          ,
        @OLD_DOCUM_STATE          = @DEL_DOCUM_STATE         ,
        @NEW_DOCUM_DATE           = @INS_DOCUM_DATE          ,
        @NEW_DOCUM_STATE          = @INS_DOCUM_STATE         ,
        @NEW_SELFENTER_ID         = @INS_SELFENTER_ID        ,
        @NEW_DOCUM_NUMB           = @INS_DOCUM_NUMB          ,
        @NEW_DOCUM_SUMM_HOME      = @INS_DOCUM_SUMM_HOME     ,
        @NEW_DOCUM_INTAX_HOME     = @INS_DOCUM_INTAX_HOME    ,
        @NEW_DOCUM_SUMM_MAIN      = @INS_DOCUM_SUMM_MAIN     ,
        @NEW_DOCUM_TAX_PROCENT    = @INS_DOCUM_TAX_PROCENT   ,
        @NEW_DOCUM_HOME_CURR      = @INS_DOCUM_HOME_CURR     ,
        @NEW_DOCUM_MAIN_CURR      = @INS_DOCUM_MAIN_CURR     ,
        @NEW_LOCATION_ID          = @INS_LOCATION_ID         ,
        @NEW_LOCATION_DEP_ID      = @INS_LOCATION_DEP_ID     ,
        @NEW_LOCATION_SUBDEP_ID   = @INS_LOCATION_SUBDEP_ID  ,
        @NEW_LOCATION_SECT_ID     = @INS_LOCATION_SECT_ID    ,
        @NEW_AGREE_ID             = @INS_AGREE_ID

IF @N_RETURN = 2 
   ROLLBACK TRANSACTION
ELSE
 IF @N_RETURN = 1
   ROLLBACK TRANSACTION
--------------------------------------------------------------------------------
GO
