IF OBJECT_ID('dbo.trig_LINK_DOC_i_d', 'TR') IS NOT NULL
    DROP TRIGGER dbo.trig_LINK_DOC_i_d;
GO
----------------------------------------------------------
-- NAME   : TRIGGER trig_LINK_DOC_i_d
-- NOTE   : Отслеживание связи накладной EASYPAY и выписки 
-- CREATER: 01.05.2026 Lukin E.V. 
-- ALTER  : 30.04.2026 Lukin E.V. - добавлена проверка суммы выписки в журнале
----------------------------------------------------------
CREATE TRIGGER trig_LINK_DOC_i_d ON LINK_DOC
	AFTER insert, delete
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE 
		@LINKDOC_MAIN_ID		INT,
		@LINKDOC_DEPEND_ID		INT,
		@LINKDOC_TREE_ID		INT,
		@TYPE_OPER				VARCHAR(3) = '',
		@SALE_TYPE				INT = 15,
		@STATEMENT_TYPE			INT = 19,
		@STATEMENT_SUMM			money

	IF EXISTS (SELECT * FROM inserted t where t.LINKDOC_MAIN_TYPE = @SALE_TYPE and t.LINKDOC_DEPEND_TYPE = @STATEMENT_TYPE)
	BEGIN
		SELECT  @LINKDOC_MAIN_ID = t.LINKDOC_MAIN_ID , @LINKDOC_DEPEND_ID = t.LINKDOC_DEPEND_ID,
			@LINKDOC_TREE_ID = t.LINKDOC_TREE_ID, @STATEMENT_SUMM = t.LINKDOC_DEPEND_SUM_HOME
		FROM inserted AS t
		where t.LINKDOC_MAIN_TYPE = @SALE_TYPE and t.LINKDOC_DEPEND_TYPE = @STATEMENT_TYPE

		set @TYPE_OPER = 'ins'
	END
	ELSE IF EXISTS (SELECT * FROM deleted t where t.LINKDOC_MAIN_TYPE = @SALE_TYPE and t.LINKDOC_DEPEND_TYPE = @STATEMENT_TYPE)
	BEGIN
		SELECT  @LINKDOC_MAIN_ID = t.LINKDOC_MAIN_ID , @LINKDOC_DEPEND_ID = t.LINKDOC_DEPEND_ID,
			@LINKDOC_TREE_ID = t.LINKDOC_TREE_ID, @STATEMENT_SUMM = t.LINKDOC_DEPEND_SUM_HOME
		FROM deleted AS t
		where t.LINKDOC_MAIN_TYPE = @SALE_TYPE and t.LINKDOC_DEPEND_TYPE = @STATEMENT_TYPE

		set @TYPE_OPER = 'del'
	END

	if @TYPE_OPER = 'ins'
	BEGIN
		update CM_PAYSERVICE_BILLS set STAT_ID = @LINKDOC_DEPEND_ID
		where SALE_ID = @LINKDOC_MAIN_ID and SERVICE_ID = 4 AND PAID_SUM = @STATEMENT_SUMM;		
	END

	if @TYPE_OPER = 'del'
	BEGIN
		update CM_PAYSERVICE_BILLS set STAT_ID = null
		where SALE_ID = @LINKDOC_MAIN_ID and STAT_ID = @LINKDOC_DEPEND_ID and SERVICE_ID = 4 AND PAID_SUM = @STATEMENT_SUMM;
	END
END

